name: Snyk Container

on:
  push:
    branches: [ master ]
    paths:
      - 'Dockerfile'
      - '**/snyk-analysis.yml'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
    paths:
      - 'Dockerfile'
      - '**/snyk-analysis.yml'

env:
  IMAGE_NAME: vkarapatakis/java-build-tools

permissions:
  contents: read

jobs:
  snyk:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ env.IMAGE_NAME }}:${{ github.sha }}

    # Snyk can be used to break the build when it detects vulnerabilities.
    # In this case we want to upload the issues to GitHub Code Scanning
    - name: Run Snyk to check Docker image for vulnerabilities
      uses: snyk/actions@0.3.0
      continue-on-error: true
      env:
        # In order to use the Snyk Action you will need to have a Snyk API token.
        # More details in https://github.com/snyk/actions#getting-your-snyk-token
        # or you can signup for free at https://snyk.io/login
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: ${{ env.IMAGE_NAME }}:${{ github.sha }}
        args: --file=Dockerfile

    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: snyk.sarif
